body {
    margin: 0;
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

body h1 {
    font-family: 'Handlee', cursive;

}

.profile-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.top {
    background-color: #226597;
}

body * {
    font-family: 'Josefin Sans', sans-serif;

}

.nav-bar {
    padding: 20px;
    top: 8px;
    position: fixed;
    display: block;
    transition: top 0.3s;
}

.menu {
    margin-top: 20px;
    float: right;
}   

 .menu ul {
       display: inline-block;
        list-style: none;
    }

    .menu a:link, :visited {
        text-decoration: none;
        color: aquamarine;
    }

.menu a:hover {
    color: aqua;
    text-shadow: rgba(red, green, blue, alpha);
}

.top-middle-body {
    padding-bottom: 0;
    padding-top: 40px;
    color: #7fe7cc;
    position: relative;
    text-align: center;
}

.pro{
    color: white;
    text-decoration: underline;
}

.land-img {
    margin: 0 auto;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}

.top-cloud {
    position: absolute;
    top: 150px;
    right: 100px;
}

.bottom-cloud {
    position: absolute;
    bottom: 20px;
    left: 0px;
}
.middle-section{ 
    text-align: center;
    padding-top: 30px;
}

.me-img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.middle-section h1 {
    color: #226597;
    padding: 16px;
}

.intro-p{
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.middle-do { 
    padding-top: 40px;
}
.can-do{
    padding-top: 30px;
}

.left-do img {
    margin-top: 40px;
}

.right-do {
    text-align: center;
}

.right-do p {
    max-width: 60%;
    margin: 0 auto;
}

.need-middle {
    padding-top: 50px
}

.right-want { 
    padding-top: 30px;
}

.help {
    text-align: center;
    padding-top: 60px;
    text-align: center;
}
.help p {
    max-width: 50%;
    margin: 0 auto;
}

.help p {
    display: inline-block;
}

.contact a{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 200px;
    display: inline-block;
    border-radius: 20px;
    opacity: 0.9;
    background-color: #226597;
    text-decoration: none;
}


.contact  :hover {
 opacity: 1.6;

}

.contact i {
    color: white;
}
.contact p {
    margin-left: 20px;
    color: white;
    display: inline;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #226597;
    color: white;
}

.footer ul li {
    display: inline-block;

}

.footer ul li a       {
    text-decoration: none;
    padding: 30px;
    color: white;   
}

.footer p {
    margin-top: 10px;
    margin-left: 40px
}

.footer a:link, :visited {
    text-decoration: none;
    color: aquamarine;
}
.footer a:hover {
    color: aqua;
    text-shadow: rgba(red, green, blue, alpha);
}

/* work.html */

.work-middle-body {
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}

.work-middle-body h1 {
    font-size: 100px;
    padding-top: 10px;
    color: #7fe7cc;
    margin: 0 auto;
    
}

.left-flag{
    left: 150px;
    bottom: 10px;
    position: absolute;
}

.left-cloud {
    left: 0px;
    bottom: 100px;
    position: absolute;
    
}
.right-cloud {
    right: 0px;
    bottom: 100px;
    position: absolute;
}

.right-flag{
    right: 190px;
    bottom: 10px;
    position: absolute;
}

.intro-work {
    text-align: center;
}
.pencil-img {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.intro-work p {
    padding: 40px;
    margin: 0 auto;
    max-width: 30%;
}

.intro-work h1 {
    color: #226597;
}

.mahar {
    background-color: #1D1E1E;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .nav-bar {
        text-align: center;
    }
    .menu {
        display: inline-block;
        float: none;
    }
    .menu ul {
        display: inline-block;
        padding: 20px;
        text-align: center;
    }
    .top-cloud {
        position: absolute;
        top: 30px;
        width: 40px;
        height: 40px;
        right: 30px;
    }
    .bottom-cloud {
        position: absolute;
        bottom: 30px;
        width: 40px;
        height: 40px;
        left: 30px;
    }
    .intro-p {
        max-width: 100%;
    }

    .right-do  {
        padding-top: 40px;
    }

    .right-do p {
        padding-top: 20px;
        max-width: 100%; 
    }

    .left-do img {
        margin-top: -10px;
    }

    .can-do{
        padding-top: 0;
    }

    .help  p {
        padding-top: 30px;  
        max-width: 100%;
    }

    .left-cloud {
        top : 10px;
        left: 10px;
        height: 60px;
        width: 60px;
    }

    .right-cloud {
        top : 10px;
        right: 10px;
        height: 60px;
        width: 60px;
    }

    .left-flag {
        left : 10px;
    }

    .right-flag {
        right  : 40px;
    }

    .intro-work p {
        padding: 10px;
        max-width: 100%;
    }

    .footer ul li a   {
        padding: 10px;   
    }

    
}